# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=[elastic_password]

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_SYSTEM_PASSWORD=[kibana_password]

# Token for Kibana
ELASTIC_SERVICE_TOKEN=[SERVICE_TOKEN]

# Version of Elastic products
STACK_VERSION=[latest.version.used]

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=[port]
